################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OPCTestApp/obj
/OPCLib/bin/Debug/net7.0
/OPCLib/obj
/OPCTestApp/.cr/personal/FavoritesList
/OPCTestApp/.vs
/OPCTestApp/bin/Debug/net7.0-windows
